@model Province
@{
    ViewData["Title"] = "Edit";
}
<div class="container" style="padding-top:70px; margin-bottom:100px; z-index:-1;">
    <form class=" WhiteBacground font" dir="rtl" method="post" asp-action="Edit">
        <div class="row">
            <div class="col-12 text-right">
                <br />
                <h3 class="txtCO">تعديل الاقليم</h3>
                <br />

            </div>
        </div>

        @Html.HiddenFor(m => m.ID_Province)

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* CustomerCode *@
        <div class="row text-right" style="padding-right:20px">
            <div id="di" class="col-md-2 col-sm-12 col-lg-2">
                <label asp-for="ProvinceName" class="col-form-label font" style="font-size:15px"></label>
            </div>
            <div class="col-md-5 col-sm-12 col-lg-5">
                <input class="text form-control" asp-for="ProvinceName" />
                <span class="text-danger" data-valmsg-replace="true" asp-validation-for="ProvinceName"></span>
            </div>
        </div>

        @* Buttons *@
        <div class="row" style="padding-right:20px; padding-top:20px;">
            <div class="col-lg-2 col-md-2">

            </div>
            <div class="col-md-5 col-sm-12 col-lg-5">
                <div class="row">
                    <div class="col-6">
                        <a class="btn-secondary form-control" asp-area="Admin" asp-controller="Province" asp-action="Index" style="text-align:center; text-decoration:none">رجوع</a>
                    </div>
                    <div class="col-6">
                        <input type="submit" class="btn-success form-control" value="حفظ التعديل" style="text-align:center;" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }

