@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .aa {
        text-align: initial;
        font-family: 'shahd-bold';
        font-size: 25px;
    }
    .bb {
        background-color: #009688;
        font-family: 'shahd-bold';
        color:#fff;
    }
   
</style>
<div class="container" style="padding-top:70px; margin-bottom:100px;">
    <form class=" WhiteBacground font " dir="rtl" method="post">

        <h1 class="aa">هل نسيت كلمة السر ؟</h1>
        <h4></h4>
        <hr />

        <div class="row">
            <div class="col-md-4" style="text-align: initial;">

                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="الرجاء ادخال ايميلك" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="bb btn ">التالي</button>
            </div>
        </div>
    </form>

</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
