@page
@model RegisterConfirmationModel
@{ ViewData["Title"] = "Register confirmation"; }

<style>
    .ab {
        font-family: 'shahd-bold';
        text-align: initial;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .ba {
        font-family: 'Changa', sans-serif;
        text-align: initial;
    }
</style>
<div class="container" style="padding-top:70px; margin-bottom:100px;">
    <form class=" WhiteBacground font " dir="rtl" method="post">

        <h1 class="ab">تأكيد حسابك</h1>
        <p class="ba">
            لقد قمنا بإرسال رابط تأكيد حسابك الرجاء التحقق من ايميلك
        </p>

    </form>
</div>
