@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<style>
    .mb {
        text-align: initial;
        font-family: 'shahd-bold';
        font-size: 30px;
    }

    .aaa {
        text-align: initial;
        font-family: 'Changa', sans-serif;
        font-size: 20px;
    }
</style>
<div class="container" style="padding-top:70px; margin-bottom:100px;">
    <form class=" WhiteBacground font " dir="rtl" method="post">
        <p class="mb">
            تم تغير كلمة السر بنجاح <a class="aaa" asp-page="./Login"> اضغط هنا لتسجيل الدخول</a>.
        </p>
    </form>

</div>